<!DOCTYPE html>
<html>
<head>
  <title>current weather</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1>Current Weather Data of <%= Place_Name %></h1>
  
  <p>description  :<%= description %></p>

  <p>temprature  :<%= temprature %></p>

  <p>humidity  :<%= humidity %></p>

  <p>air_pressure  :<%= air_pressure %></p>

  <p>visibility  :<%= visibility %></p>

  <p>wind_speed  :<%= wind_speed %></p>
  
  <a href="http://localhost:3000/v1/home">search another city</a>

</body>
</html>
